
# === NETWORK CONFIGURATION

# exposed ports depending on what the service does..
NETWORK_BACK_EXPOSED_PORT=8879
NETWORK_BACK_INTERNAL_PORT=8879

NETWORK_FRONT_EXPOSED_PORT=8880
NETWORK_FRONT_INTERNAL_PORT=8880

# network deployment configuration
NETWORK_HOSTNAME=localhost
NETWORK_REVERSE_PROXY=TRUE

