
# ----------------------------------------------------------------------------
# --- POSTGRES OPTIONS

# postgres remote database access
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=15432
POSTGRES_DB_NAME=example_db
POSTGRES_DB_USER=dbuser
POSTGRES_DB_PASSWORD=p@55w0rdHyp3rR0bust3!
