
# ----------------------------------------------------------------------------
# --- DEVELOPMENT DISK VOLUMES

# places where to store volumes ... if needed
VOL_PERSIST_MAMBA_ENV=/opt/miniforge3/envs/env-develop

# optional : custom volumes for data , log, ...
VOL_CONFIG=
VOL_DATA=
VOL_LOGS=
VOL_RUN=
VOL_EXT_LIBS=
