# ============================================================================
# === PROJECT PUBLICATION ====================================================

# === APPLICATION

# Package name and versioning
APP_PACKAGE_NAME=qcvcoloc
APP_PACKAGE_VERSION=0.1

# Execution mode [ DEV / PROD ]
APP_EXEC_MODE=DEV

# Starting OPTION [ PYTHON_SHINY / R_SHINY / PYTHON_FASTAPI / PYTHON_APP / R_APP / BASH ]
APP_START_OPTION=BASH

# Docker-compose Alternative ( ex : to use docker-compose-reverseproxy.yml, you should fill : reverseproxy )
APP_DC_ALTERNATIVE=

# === DOCKER
# Docker hub , image name, version tag, ...
DOCKER_NAMESPACE=pokapok
DOCKER_NAME=${APP_PACKAGE_NAME}
DOCKER_TAG=${APP_PACKAGE_VERSION}
DOCKER_IMAGENAME_V=${DOCKER_NAME}:${DOCKER_TAG}
DOCKER_IMAGENAME_L=${DOCKER_NAME}:latest

DOCKER_REPONAME_V=${DOCKER_NAMESPACE}/${DOCKER_NAME}:${DOCKER_TAG}
DOCKER_REPONAME_L=${DOCKER_NAMESPACE}/${DOCKER_NAME}:latest

# Docker Hardware platform type
DOCKER_PLATFORM=

# Docker entrypoint bypass ( for bluecloud compatibility ) [ 1 / 0 ]
DOCKER_ENTRYPOINT_BYPASS=0

