

# === INTERNAL USER ==========================================================

# docker service user UID / GID / passwd alignment 
FORCE_USER_ID=1000
FORCE_GROUP_ID=1000
FORCE_USER_PWD=serviceuser

# force directories owner change at entrypoint, before app Startup
#   ... warning, it could really slow down app startup (huge miniforge3 folder, data resources, ...)
FORCE_ENTRYPOINT_CHOWN=0
