
# ----------------------------------------------------------------------------
# --- MONGO OPTION

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_NAME=example_db
MONGODB_USER=dbuser
MONGODB_PASSWORD=p@55w0rdHyp3rR0bust3!
