

# ============================================================================
# === DEVELOPER'S IDENTITY

# private ssh key path (without .pub) like ~/.ssh/my-ed25519-key
DEVELOPER_SSH_KEY=

# git repo
DEVELOPER_GIT_REPO_NAME=
DEVELOPER_GIT_USER_NAME=pokapok_developer
DEVELOPER_GIT_USER_EMAIL=developer@pokapok.org
